#game
    border-collapse: collapse
    td
        border: 2px solid black
        height 80px
        width 80px
        background-image: url('assets/images.png')
        background-repeat no-repeat

.x
    background-position-x: -80px

.o
    background-position-x: -160px